In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import gkey
import requests
import json

## Extract

In [2]:
# Source 1
toppings_path="PizzaWeek.csv"
toppings_df = pd.read_csv(toppings_path)
toppings_df.rename(columns={"Topping": "toppings",
                           "Total": "total",
                           "Male":"male",
                           "Female":"female"}, inplace=True)
toppings_df.set_index('toppings', inplace=True)
toppings_df.rename(columns={'total': 'num_total',
                           'male': 'num_male',
                           'female': 'num_female'}, inplace=True)
toppings_df

                num_total  num_male  num_female
toppings
Mushrooms              65        63          68
Onion                  62        62          63
Ham                    61        66          56
Peppers                60        63          57
Chicken                56        60          52
Pepperoni              56        66          46
Tomato                 51        49          54
Bacon                  49        56          43
Pineapple              42        40          44
Sweetcorn              42        38          46
Beef                   36        47          26
Olives                 33        33          32
Chillies               31        42          22
Jalapenos              30        39          21
Spinach                26        20          32
Pork                   25        34          17
Tuna                   22        23          21
Anchovies              18        21          15
Something else         11        12          10

In [3]:
toppings_df.count()

num_total     19
num_male      19
num_female    19
dtype: int64

In [4]:
# Source 2
restaurants_path="restaurants.csv"
restaurants_df = pd.read_csv(restaurants_path)
restaurants_df.rename(columns= {"menuPageURL":"menupageurl",
                                "postalCode":"postalcode",
                                "priceRangeCurrency":"pricerangecurrency",
                                "priceRangeMin": "pricerangemin",
                                "priceRangeMax": "pricerangemax",
                                "menus.amountMax": "menus_amountmax",
                               "menus.amountMin" : "menus_amountmin",
                               "menus.currency": "menus_currency",
                               "menus.dateSeen": "menus_dateseen",
                               "menus.description": "menus_description",
                               "menus.name": "menus_name"}, inplace=True)
restaurants_df

,id,address,categories,city,country,keys,latitude,longitude,menupageurl,menus_amountmax,...,menus_currency,menus_dateseen,menus_description,menus_name,name,postalcode,pricerangecurrency,pricerangemin,pricerangemax,province
0,AVwc_6KEIN2L1WUfrKAH,Cascade Village Mall Across From Target,Pizza Place,Bend,US,us/or/bend/cascadevillagemallacrossfromtarget/...,44.102665,-121.300797,NaN,22.50,...,USD,2016-03-31T02:19:42Z,NaN,Bianca Pizza,Little Pizza Paradise,97701,NaN,NaN,NaN,OR
1,AVwc_6KEIN2L1WUfrKAH,Cascade Village Mall Across From Target,Pizza Place,Bend,US,us/or/bend/cascadevillagemallacrossfromtarget/...,44.102665,-121.300797,NaN,18.95,...,USD,2016-03-31T02:19:42Z,NaN,Cheese Pizza,Little Pizza Paradise,97701,NaN,NaN,NaN,OR
2,AVwc_6qRByjofQCxkcxw,148 S Barrington Ave,"American Restaurant,Bar,Bakery",Los Angeles,US,us/brentwood/losangeles/148sbarringtonave/-151...,34.064563,-118.469017,NaN,12.00,...,USD,2015-10-23T03:57:26Z,NaN,"Pizza, Margherita",The Brentwood,90049,USD,50.0,55.0,Brentwood
3,AVwc_6qRByjofQCxkcxw,148 S Barrington Ave,"American Restaurant,Bar,Bakery",Los Angeles,US,us/brentwood/losangeles/148sbarringtonave/-151...,34.064563,-118.469017,NaN,13.00,...,USD,2015-10-23T03:57:26Z,NaN,"Pizza, Mushroom",The Brentwood,90049,USD,50.0,55.0,Brentwood
4,AVwc_6qRByjofQCxkcxw,148 S Barrington Ave,"American Restaurant,Bar,Bakery",Los Angeles,US,us/brentwood/losangeles/148sbarringtonave/-151...,34.064563,-118.469017,NaN,13.00,...,USD,2015-10-23T03:57:26Z,"Olives, onions, capers, tomatoes","Pizza, Puttenesca",The Brentwood,90049,USD,50.0,55.0,Brentwood
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3505,AVweYUZ0IN2L1WUf4Z9q,305 Ash St,Bar and Gastropub,Jefferson City,US,us/honeycreek/jeffersoncity/305ashst/-735513695,38.568717,-92.161596,NaN,11.99,...,USD,2016-07-06T20:05:49Z,NaN,Supreme Pizza,Prison Brews Brewery & Restaurant,65101,USD,25.0,40.0,Honey Creek
3506,AVweYUZ0IN2L1WUf4Z9q,305 Ash St,Bar and Gastropub,Jefferson City,US,us/honeycreek/jeffersoncity/305ashst/-735513695,38.568717,-92.161596,NaN,9.99,...,USD,2016-07-06T20:05:49Z,NaN,Vegetarian Pizza,Prison Brews Brewery & Restaurant,65101,USD,25.0,40.0,Honey Creek
3507,AVweZ5SbIN2L1WUf4nWU,4140 Carlisle Rd,"Restaurant,Italian Restaurant",Dover,US,us/davidsburg/dover/4140carlislerd/-1821521454,39.996444,-76.845180,NaN,5.00,...,USD,2015-10-23T01:03:47Z,NaN,Pita Pizza,Moonlight Cafe,17315,USD,0.0,30.0,Davidsburg
3508,AVweZ5SbIN2L1WUf4nWU,4140 Carlisle Rd,"Restaurant,Italian Restaurant",Dover,US,us/davidsburg/dover/4140carlislerd/-1821521454,39.996444,-76.845180,NaN,20.00,...,USD,2015-10-23T01:03:47Z,NaN,Steak Pizzaiola,Moonlight Cafe,17315,USD,0.0,30.0,Davidsburg
3509,AVweZioPIN2L1WUf4kR_,9563 Kings Charter Doctor B,Restaurant,Ashland,US,us/va/ashland/9563kingscharterdoctorb/-1234885075,37.693160,-77.437440,NaN,NaN,...,NaN,2016-08-22T00:00:00Z,"ricotta, mozzarella, spinach, garlic, tomatoes",White Pizza,Guidos,23005,USD,0.0,30.0,VA

In [5]:
restaurants_df.count()

id                    3510
address               3510
categories            3510
city                  3510
country               3510
keys                  3510
latitude              3510
longitude             3510
menupageurl            610
menus_amountmax       2948
menus_amountmin       2948
menus_currency        2951
menus_dateseen        3510
menus_description     1526
menus_name            3510
name                  3510
postalcode            3484
pricerangecurrency    1557
pricerangemin         1557
pricerangemax         1557
province              3510
dtype: int64

In [6]:
# remove unnecessary columns 
clean_restaurants_df = restaurants_df.drop(columns=['id',
                                                    'keys',
                                                    'menupageurl',
                                                    'menus_currency',
                                                    'menus_dateseen', 
                                                    'menus_description', 
                                                    'pricerangecurrency'])
clean_restaurants_df.rename(columns={'address': 'restaurant_address',
                                    'categories': 'restaurant_type',
                                    'menus_amountmax': 'max_price',
                                    'menus_amountmin': 'min_price',
                                    'menus_currency': 'currency',
                                    'menus_name': 'item_name',
                                    'name': 'restaurant_name',
                                    'postalcode': 'postal_code',
                                    'pricerangemin': 'price_range_min',
                                    'pricerangemax': 'price_range_max',
                                    }, inplace= True)

clean_restaurants_df['max_price'].fillna('0', inplace=True)
clean_restaurants_df['min_price'].fillna('0', inplace=True)
clean_restaurants_df['price_range_min'].fillna('0', inplace=True)
clean_restaurants_df['price_range_max'].fillna('0', inplace=True)
clean_restaurants_df.dropna(inplace=True)
clean_restaurants_df.drop_duplicates()
clean_restaurants_df

,restaurant_address,restaurant_type,city,country,latitude,longitude,max_price,min_price,item_name,restaurant_name,postal_code,price_range_min,price_range_max,province
0,Cascade Village Mall Across From Target,Pizza Place,Bend,US,44.102665,-121.300797,22.5,15.5,Bianca Pizza,Little Pizza Paradise,97701,0,0,OR
1,Cascade Village Mall Across From Target,Pizza Place,Bend,US,44.102665,-121.300797,18.95,18.95,Cheese Pizza,Little Pizza Paradise,97701,0,0,OR
2,148 S Barrington Ave,"American Restaurant,Bar,Bakery",Los Angeles,US,34.064563,-118.469017,12,12,"Pizza, Margherita",The Brentwood,90049,50,55,Brentwood
3,148 S Barrington Ave,"American Restaurant,Bar,Bakery",Los Angeles,US,34.064563,-118.469017,13,13,"Pizza, Mushroom",The Brentwood,90049,50,55,Brentwood
4,148 S Barrington Ave,"American Restaurant,Bar,Bakery",Los Angeles,US,34.064563,-118.469017,13,13,"Pizza, Puttenesca",The Brentwood,90049,50,55,Brentwood
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3505,305 Ash St,Bar and Gastropub,Jefferson City,US,38.568717,-92.161596,11.99,11.99,Supreme Pizza,Prison Brews Brewery & Restaurant,65101,25,40,Honey Creek
3506,305 Ash St,Bar and Gastropub,Jefferson City,US,38.568717,-92.161596,9.99,9.99,Vegetarian Pizza,Prison Brews Brewery & Restaurant,65101,25,40,Honey Creek
3507,4140 Carlisle Rd,"Restaurant,Italian Restaurant",Dover,US,39.996444,-76.845180,5,5,Pita Pizza,Moonlight Cafe,17315,0,30,Davidsburg
3508,4140 Carlisle Rd,"Restaurant,Italian Restaurant",Dover,US,39.996444,-76.845180,20,20,Steak Pizzaiola,Moonlight Cafe,17315,0,30,Davidsburg
3509,9563 Kings Charter Doctor B,Restaurant,Ashland,US,37.693160,-77.437440,0,0,White Pizza,Guidos,23005,0,30,VA

In [10]:
def get_state_abbr(postal_codes):
    for code in postal_codes:
        base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
        address_url = f'{base_url}address={code}&key={gkey}&sensor=true'
        zip_data = requests.get(address_url, verify=True).json()
        try:
            address_components = zip_data['results'][0]['address_components']
            for component in address_components:
                types = component['types']
                if 'administrative_area_level_1' in types:
                    output = component['short_name']
                else:
                    output = "None"
        except:
            output = "None"
        
    return output

In [11]:
for index, row in clean_restaurants_df.iterrows():
    if len(row['province']) != 2:
        replacement = get_state_abbr(row['postal_code'])
        row['province'].replace(row['province'], replacement)

SSLError: HTTPSConnectionPool(host='maps.googleapis.com', port=443): Max retries exceeded with url: /maps/api/geocode/json?address=0&key=AIzaSyDcapwgCoMCf02_Z5egOEw_fAx0HhlXf4M&sensor=true (Caused by SSLError(SSLError("bad handshake: SysCallError(10051, 'WSAENETUNREACH')")))

## Transform

In [8]:
restaurant_chains_df = pd.DataFrame(clean_restaurants_df['restaurant_name'].value_counts())
restaurant_chains_df.rename(columns={'restaurant_name': 'count'}, inplace=True)
restaurant_chains_df.index.name = 'restaurant_name'
restaurant_chains_df.reset_index(inplace=True)
restaurant_chains_df.index.name = 'chain_id'
restaurant_chains_df.reset_index(inplace=True)
restaurant_chains_df

     chain_id        restaurant_name  count
0           0     Sicilia's Pizzeria     96
1           1       J & G Restaurant     55
2           2  Casey's General Store     43
3           3        The Pizza Joint     36
4           4     North End Pizzeria     34
..        ...                    ...    ...
922       922                 Spagio      1
923       923      Rosangela's Pizza      1
924       924         Paradise Lanes      1
925       925           Holy Cannoli      1
926       926             The Bistro      1

[927 rows x 3 columns]

In [9]:
#how many of each restaurant
unique_restaurants_df = pd.DataFrame(clean_restaurants_df['restaurant_name'].value_counts())
unique_restaurants_df.rename(columns={'restaurant_name': 'count'}, inplace=True)
unique_restaurants_df.index.name = 'restaurant_name'
unique_restaurants_df.reset_index(inplace=True)
unique_restaurants_df.index.name = 'chain_id'
unique_restaurants_df.reset_index(inplace=True)
unique_restaurants_df.drop(['count'], axis=1, inplace=True)
unique_restaurants_df

     chain_id        restaurant_name
0           0     Sicilia's Pizzeria
1           1       J & G Restaurant
2           2  Casey's General Store
3           3        The Pizza Joint
4           4     North End Pizzeria
..        ...                    ...
922       922                 Spagio
923       923      Rosangela's Pizza
924       924         Paradise Lanes
925       925           Holy Cannoli
926       926             The Bistro

[927 rows x 2 columns]

In [10]:
#location of each restaurant
location_df = clean_restaurants_df[['restaurant_address', 'city', 'country', 'latitude', 'longitude', 'restaurant_name', 'postal_code', 'province']]
location_df.index.name = 'location_id'

location_df = location_df.drop_duplicates()
location_df = location_df.dropna()
location_df.reset_index(inplace=True)
location_df

,location_id,restaurant_address,city,country,latitude,longitude,restaurant_name,postal_code,province
0,0,Cascade Village Mall Across From Target,Bend,US,44.102665,-121.300797,Little Pizza Paradise,97701,OR
1,2,148 S Barrington Ave,Los Angeles,US,34.064563,-118.469017,The Brentwood,90049,Brentwood
2,7,5142 Hollywood Blvd,Los Angeles,US,34.101742,-118.301973,Bravo Pizza Hollywood,90027,Los Feliz
3,13,801 Saint Emanuel St,Houston,US,29.752479,-95.354164,Lucky's Pub,77003,TX
4,14,478 South St,Hyannis,US,41.648278,-70.291345,Roadhouse Cafe,2601,MA
...,...,...,...,...,...,...,...,...,...
976,3498,3551 Lafayette Rd,Indianapolis,US,39.817155,-86.228120,Rick's Cabaret,46222,IN
977,3499,10727 Randolph Saint Crown Point In,Crown Point,US,41.422509,-87.237723,Mighty Mick's Pub & Cafe,46307,Palmer
978,3500,305 Ash St,Jefferson City,US,38.568717,-92.161596,Prison Brews Brewery & Restaurant,65101,Honey Creek
979,3507,4140 Carlisle Rd,Dover,US,39.996444,-76.845180,Moonlight Cafe,17315,Davidsburg
980,3509,9563 Kings Charter Doctor B,Ashland,US,37.693160,-77.437440,Guidos,23005,VA

In [11]:
restaurant_location_df = pd.merge(location_df, unique_restaurants_df, how='left', on='restaurant_name')
restaurant_location_df

,location_id,restaurant_address,city,country,latitude,longitude,restaurant_name,postal_code,province,chain_id
0,0,Cascade Village Mall Across From Target,Bend,US,44.102665,-121.300797,Little Pizza Paradise,97701,OR,528
1,2,148 S Barrington Ave,Los Angeles,US,34.064563,-118.469017,The Brentwood,90049,Brentwood,225
2,7,5142 Hollywood Blvd,Los Angeles,US,34.101742,-118.301973,Bravo Pizza Hollywood,90027,Los Feliz,158
3,13,801 Saint Emanuel St,Houston,US,29.752479,-95.354164,Lucky's Pub,77003,TX,875
4,14,478 South St,Hyannis,US,41.648278,-70.291345,Roadhouse Cafe,2601,MA,433
...,...,...,...,...,...,...,...,...,...,...
976,3498,3551 Lafayette Rd,Indianapolis,US,39.817155,-86.228120,Rick's Cabaret,46222,IN,844
977,3499,10727 Randolph Saint Crown Point In,Crown Point,US,41.422509,-87.237723,Mighty Mick's Pub & Cafe,46307,Palmer,593
978,3500,305 Ash St,Jefferson City,US,38.568717,-92.161596,Prison Brews Brewery & Restaurant,65101,Honey Creek,131
979,3507,4140 Carlisle Rd,Dover,US,39.996444,-76.845180,Moonlight Cafe,17315,Davidsburg,472
980,3509,9563 Kings Charter Doctor B,Ashland,US,37.693160,-77.437440,Guidos,23005,VA,669

In [12]:
restaurant_location_df = restaurant_location_df[['location_id', 'chain_id', 'restaurant_address', 'city', 'country', 'latitude', 'longitude', 'postal_code', 'province']]
restaurant_location_df.rename(columns={'chain_id': 'restaurant_id'}, inplace=True)
restaurant_location_df

C:\Users\meera\Anaconda3\lib\site-packages\pandas\core\frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

,location_id,restaurant_id,restaurant_address,city,country,latitude,longitude,postal_code,province
0,0,528,Cascade Village Mall Across From Target,Bend,US,44.102665,-121.300797,97701,OR
1,2,225,148 S Barrington Ave,Los Angeles,US,34.064563,-118.469017,90049,Brentwood
2,7,158,5142 Hollywood Blvd,Los Angeles,US,34.101742,-118.301973,90027,Los Feliz
3,13,875,801 Saint Emanuel St,Houston,US,29.752479,-95.354164,77003,TX
4,14,433,478 South St,Hyannis,US,41.648278,-70.291345,2601,MA
...,...,...,...,...,...,...,...,...,...
976,3498,844,3551 Lafayette Rd,Indianapolis,US,39.817155,-86.228120,46222,IN
977,3499,593,10727 Randolph Saint Crown Point In,Crown Point,US,41.422509,-87.237723,46307,Palmer
978,3500,131,305 Ash St,Jefferson City,US,38.568717,-92.161596,65101,Honey Creek
979,3507,472,4140 Carlisle Rd,Dover,US,39.996444,-76.845180,17315,Davidsburg
980,3509,669,9563 Kings Charter Doctor B,Ashland,US,37.693160,-77.437440,23005,VA

In [13]:
#price 
price_range_df = clean_restaurants_df[['restaurant_name', 'price_range_min', 'price_range_max']]
price_range_df = price_range_df.drop_duplicates()
price_range_df.index.name = 'location_id'
price_range_df.reset_index(inplace=True)
price_range_df.drop(columns=['restaurant_name'], axis=1, inplace=True)
price_range_df

     location_id price_range_min price_range_max
0              0               0               0
1              2              50              55
2              7               0               0
3             13              25              40
4             14               0               0
..           ...             ...             ...
932         3498               0               0
933         3499               0               0
934         3500              25              40
935         3507               0              30
936         3509               0              30

[937 rows x 3 columns]

## Load

In [76]:
engine_string = (f'postgresql://postgres:postgres@localhost:5432/pizza_db')
engine = create_engine(engine_string)

In [77]:
engine.table_names()

['toppings', 'restaurant_chains', 'restaurant_location', 'price_range']

In [84]:
# this one works
toppings_df.to_sql(name='toppings', con=engine, if_exists='append', index=False)

In [86]:
# this one works
restaurant_chains_df.to_sql(name='restaurant_chains', con=engine, if_exists='append', index=False)

In [87]:
price_range_df.to_sql(name='price_range', con=engine, if_exists='append', index=False)

In [89]:
restaurant_location_df.to_sql(name='restaurant_location', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "restaurant_location" violates foreign key constraint "location_id"
DETAIL:  Key (location_id)=(483) is not present in table "price_range".

[SQL: INSERT INTO restaurant_location (location_id, restaurant_id, restaurant_address, city, country, latitude, longitude, postal_code, province) VALUES (%(location_id)s, %(restaurant_id)s, %(restaurant_address)s, %(city)s, %(country)s, %(latitude)s, %(longitude)s, %(postal_code)s, %(province)s)]
[parameters: ({'location_id': 0, 'restaurant_id': 487, 'restaurant_address': 'Cascade Village Mall Across From Target', 'city': 'Bend', 'country': 'US', 'latitude': 44.10266476, 'longitude': -121.3007971, 'postal_code': '97701', 'province': 'OR'}, {'location_id': 2, 'restaurant_id': 183, 'restaurant_address': '148 S Barrington Ave', 'city': 'Los Angeles', 'country': 'US', 'latitude': 34.06456347, 'longitude': -118.46901729999999, 'postal_code': '90049', 'province': 'Brentwood'}, {'location_id': 7, 'restaurant_id': 165, 'restaurant_address': '5142 Hollywood Blvd', 'city': 'Los Angeles', 'country': 'US', 'latitude': 34.1017424, 'longitude': -118.30197290000001, 'postal_code': '90027', 'province': 'Los Feliz'}, {'location_id': 13, 'restaurant_id': 844, 'restaurant_address': '801 Saint Emanuel St', 'city': 'Houston', 'country': 'US', 'latitude': 29.75247947, 'longitude': -95.35416442, 'postal_code': '77003', 'province': 'TX'}, {'location_id': 14, 'restaurant_id': 410, 'restaurant_address': '478 South St', 'city': 'Hyannis', 'country': 'US', 'latitude': 41.64827787, 'longitude': -70.29134463, 'postal_code': '2601', 'province': 'MA'}, {'location_id': 16, 'restaurant_id': 246, 'restaurant_address': '1 N University Hl', 'city': 'Provo', 'country': 'US', 'latitude': 40.25083927, 'longitude': -111.64926770000001, 'postal_code': '84602', 'province': 'UT'}, {'location_id': 20, 'restaurant_id': 797, 'restaurant_address': '9595 Six Pines Dr', 'city': 'Spring', 'country': 'US', 'latitude': 30.16413, 'longitude': -95.46235, 'postal_code': '77380', 'province': 'TX'}, {'location_id': 21, 'restaurant_id': 257, 'restaurant_address': '200 E Chestnut St', 'city': 'Chicago', 'country': 'US', 'latitude': 41.89854289, 'longitude': -87.6219955, 'postal_code': '60611', 'province': 'Ontario Street'}  ... displaying 10 of 981 total bound parameter sets ...  {'location_id': 3507, 'restaurant_id': 398, 'restaurant_address': '4140 Carlisle Rd', 'city': 'Dover', 'country': 'US', 'latitude': 39.996444, 'longitude': -76.8451799, 'postal_code': '17315', 'province': 'Davidsburg'}, {'location_id': 3509, 'restaurant_id': 875, 'restaurant_address': '9563 Kings Charter Doctor B', 'city': 'Ashland', 'country': 'US', 'latitude': 37.69316, 'longitude': -77.43744000000001, 'postal_code': '23005', 'province': 'VA'})]
(Background on this error at: http://sqlalche.me/e/gkpj)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "price_range_restaurant_name_key"
DETAIL:  Key (restaurant_name)=(Larosa's Pizzeria) already exists.

[SQL: INSERT INTO price_range (restaurant_id, restaurant_name, price_range_min, price_range_max) VALUES (%(restaurant_id)s, %(restaurant_name)s, %(price_range_min)s, %(price_range_max)s)]
[parameters: ({'restaurant_id': 0, 'restaurant_name': 'Little Pizza Paradise', 'price_range_min': '0', 'price_range_max': '0'}, {'restaurant_id': 2, 'restaurant_name': 'The Brentwood', 'price_range_min': 50.0, 'price_range_max': 55.0}, {'restaurant_id': 7, 'restaurant_name': 'Bravo Pizza Hollywood', 'price_range_min': '0', 'price_range_max': '0'}, {'restaurant_id': 13, 'restaurant_name': "Lucky's Pub", 'price_range_min': 25.0, 'price_range_max': 40.0}, {'restaurant_id': 14, 'restaurant_name': 'Roadhouse Cafe', 'price_range_min': '0', 'price_range_max': '0'}, {'restaurant_id': 16, 'restaurant_name': 'Brigham Young University', 'price_range_min': '0', 'price_range_max': '0'}, {'restaurant_id': 20, 'restaurant_name': "Luke's Locker", 'price_range_min': 0.0, 'price_range_max': 25.0}, {'restaurant_id': 21, 'restaurant_name': "Francesca's On Chestnut", 'price_range_min': 25.0, 'price_range_max': 40.0}  ... displaying 10 of 937 total bound parameter sets ...  {'restaurant_id': 3507, 'restaurant_name': 'Moonlight Cafe', 'price_range_min': 0.0, 'price_range_max': 30.0}, {'restaurant_id': 3509, 'restaurant_name': 'Guidos', 'price_range_min': 0.0, 'price_range_max': 30.0})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [57]:
pd.read_sql("Select * from price_range", con=engine)

,restaurant_id,restaurant_name,price_range_min,price_range_max
0,0,Little Pizza Paradise,0.0,0.0
1,2,The Brentwood,50.0,55.0
2,7,Bravo Pizza Hollywood,0.0,0.0
3,13,Lucky's Pub,25.0,40.0
4,14,Roadhouse Cafe,0.0,0.0
...,...,...,...,...
932,3498,Rick's Cabaret,0.0,0.0
933,3499,Mighty Mick's Pub & Cafe,0.0,0.0
934,3500,Prison Brews Brewery & Restaurant,25.0,40.0
935,3507,Moonlight Cafe,0.0,30.0
936,3509,Guidos,0.0,30.0